 <head> <link type=text/css rel=stylesheet href=stylesheet.css /> </head>
<div class="textbox"> 
	<p class="nicetext">This is a service that allows you to connect  <a href="http://www.beeminder.com">Beeminder</a> to a Twitter profile to count the number of tweets, followers, 	or virtually anything else quantifiable on Twitter.</p>
	<h3 style="text-align:center">To use this service, please <a class="nicelink" href="/auth">authorize</a> with Beeminder.</h3>
	<p class="smalltext">To see a list of things this service can count, <a href="/list">click here</a>
</div>
