<ul>
<li>Tweets</li>
<li>Followers</li>
<li>Friends</li>
<li>Age</li>
<li>Retweets of a given Tweet</li>
<li>Favorites of a given Tweet</li>
<li>Number of times you tweet with a given hashtag</li>
<li>Number of times you tweet with any hashtag</li>
</ul>
